.card {
  width: 100%;
  padding: 1.5rem 1.25rem;
  background-color: #2A2D29;
  color: #fff;
  border: 0 solid transparent;
  border-radius: 1.5rem;
  font-family: 'Inter', sans-serif;
  font-weight: normal;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-width: 15rem;
  max-width: 25rem;
}

.rate {
  border: 1px solid #555745;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  border-radius: 0.75rem;
}

input {
  padding: 0.5rem;
  color: #ffffff;
  background-color: transparent;
  width: 100%;
  border-radius: 99rem;
  min-height: 3rem;
  font-size: 1.5rem;
  border: none;
  outline: none;
}

.primary-btn {
  background: var(--primary);
  color: #163300;
  min-height: 2.75rem;
  border-radius: 99rem;
  border: none;
  margin-top: 1.5rem;
  cursor: pointer;
  width: 100%;
  font-weight: 600;
  transition: background 0.2s;
}

.primary-btn:hover {
  background: var(--primary-hover);
}
